*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}
/* creating a root variable */
:root {
    --cell-size : 100px;
    --mark-size: calc(var(--cell-size) * .9);

}
.board {
    width: 100vw;
    height: 100vw;
    background-color: aqua;
    display: grid;
    justify-content: center;
    align-content: center; 
    grid-template-columns: repeat(3 , auto);
}
.cell {
    /* using var in class  */
    width: var(--cell-size);
    height: var(--cell-size);
    /* background-color: black; */
    border: 1px solid black;
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cell.x ,
.cell.circle { 
    cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3n + 1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
    border-right: none;
}
.cell:nth-child(n +7){
    border-bottom: none;
}
.cell.x::before, 
.cell.x::after,
.cell.circle::before,
.cell.circle::after {
    background-color: black;
}
.board.x .cell:not(.x):not(.circle):hover::before ,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightgrey;

}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    /* background-color:black; */
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(45deg);
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(-45deg);
}
.cell.circle::before ,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content : '';
    position: absolute;
    /* background-color: black; */
    border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}
/* Writting style for restat */
.winning-message {
    position: fixed;
    top:0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, .9);
    color:white;
    flex-direction: column;
    display: none;
}
.winning-message button{
    font-size: 2rem;
    padding: .25rem .5rem;
    cursor: pointer;
    border: 1px solid black;
}
.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}
.winning-message.show {
    display: flex;
}